{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div align="center">
    <h2>Network Performance Metrics:</h2>
    <form id="performanceForm" action="/performance/calculate/" method="POST">
        {% csrf_token %}
        <label for="ipAddress">IP Address:</label>
        <input type="text" id="ipAddress" name="ip_address">
        <button type="submit" id="speedtest-btn" class="btn btn-primary">Calculate Performance</button>
    </form>
    <div id="loading-animation" style="display: none;">
      <img src="{% static 'loading.gif' %}" alt="Loading...">
    </div>

</div>
<script>
  // When the button is clicked, initiate the speed test
  document.getElementById('speedtest-btn').addEventListener('click', function() {
    runSpeedTest();
  });

  function runSpeedTest() {
    // Show the loading animation
    var loadingAnimation = document.getElementById('loading-animation');
    loadingAnimation.style.display = 'block';
  }
</script>
{% endblock %}